/*NavBar Style*/
.nav{
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    justify-content:flex-end;
    margin-top: 15px;
    margin-right: 14px;
    }
    #navb{
        display: flex;
        flex-direction: center;
        /* border: 1px solid lightcoral;  */
    }
    #navb-txt,#navb-img{
        display: inherit;
        flex-direction: inherit;
    }
    #navb-txt{
        margin-top: 7px;
        margin-right: 4px;
        /* color: rgb(26, 25, 25); */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;  
    }
    #navb-txt a{
        color: rgb(26, 25, 25);
        text-decoration: none;
    }
    #navb-txt a:hover{
        text-decoration: underline;
    }
    
    #d3{
        margin-top: 6px;
        margin-right: 20px;
        height: 20px;
    }
    #d4{
        border-radius: 50%;
    }
    #d1,#d2{
        /* border: 1px solid blue; */
        margin-right: 12px;
    }
    /* Google picture and Search input style */
.pic-in{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(240, 237, 75); */
    margin-top: 120px;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;

}
#pic{
    text-align: center;
    /* border: 1px solid green; */
}
#in{
    display: inherit;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    border: 1px solid #dcdcdd;
    border-radius: 25px;
    align-self: center;
    width: 600px;
    height: 45px;
}
#srch{
    float: left;
    height: 20px;
    width: 20px;
}
#srch-div{
    display: inline-block;
    /* border: 1px solid red; */
    margin-top: 12px;
    margin-right: 9px;
    margin-left: 11px;

}

#input{
    margin-top: 5px;;
    height: 30px;
    width: 520px;
    /* border-radius:12px;; */
    border: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    /* border: 1px solid red; */
}
#in:hover{
    box-shadow: 0 1px 6px rgb(194, 194, 194);  
}
#input:hover{
    border-color: #fff;
    outline: none;
}
#mic-div{
    /* border: 1px solid red; */
    margin-top: 11px;
    margin-left: 8px;
    padding-right: 13px;
}
#mic{
    height: 20px;
    width: 15px;
}
/* Buttons Style */
#btns{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
#btns input{
    margin: 10px;
    padding: 10px;;
    background-color: #f8f9fa;
    outline: none;
    border: none;
    color:#707070 ;
    font-size: 15px;
}
#btns input:hover{
    border-radius: 5px;
    box-shadow: 0 1px 6px rgb(194, 194, 194); 
}
/* Footer Style */
#l2{
    position: absolute;
    bottom: 0;
    right:0%;
    left:0%;
    width: 100%;
    background-color: #f2f2f2;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
 }
 .ftr {
    bottom: 0;
    right: 0;
    left: 0;

}

.ftrs {
    /* line-height: 14px; */
    line-height: 40px;
    font-size: 14px;
    border-top: 1px solid #dadce0;
}

.ftr a {
    /* display: inline-block; */
    padding-left: 20px;
    text-decoration: none;
    color:#70757a;
}
a:hover{
    text-decoration: underline;
}
#adv1{
    /* border: 1px solid greenyellow; */
    display: inline-block;
}
#adv2 {
    margin-right: 15px;
    display: block;
    float: right;
    /* border: 1px solid greenyellow; */

}